<h1>Hello Angular</h1>
<p>Angular 14 представляет модульную архитектуру приложения</p>

<div class="block">
  <p>Количество кликов {{ count }}</p>
  <button (click)="increase()">Click</button>
</div>

<div class="block">
  <p>Привет, {{ name }}</p>
  <input type="text" [(ngModel)]="name" /> <br /><br />
  <input type="text" [(ngModel)]="name" />
</div>

<div class="block">
  <!-- true - класс применяется, false - не применяется -->
  <div class="div-class" [class.isredbox]="isRed"></div>
  <div class="div-class" [class.isredbox]="!isRed"></div>
  <input type="checkbox" [(ngModel)]="isRed" />
</div>

<div class="block">
  <div
    class="div-class"
    [style.backgroundColor]="isRedColor ? 'red' : 'green'"
  ></div>
  <div
    class="div-class"
    [style.background-color]="!isRedColor ? 'red' : 'green'"
  ></div>
  <input type="checkbox" [(ngModel)]="nameCheckbox" />
</div>

<child-comp></child-comp>
<p>Привет, {{ name1 }}</p>

<child-comp
  ><h2>Добро пожаловать, {{ name2 }}!</h2></child-comp
>

<!-- userName, userAge используем как атрибут для привязки-->
<child1-comp [userName]="name3" [userAge]="age"></child1-comp> 
<input type="text" [(ngModel)]="name3" />
